.header-outer-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* Initially transparent */
  height: 10vh;
  color: #fff;
  transition: background-color 0.5s ease-in-out; /* Smooth transition */
  z-index: 1;
}
.header-outer-container.scrolled {
  background-color: #111;
 
}

.header-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left ul,
.header-right ul {
  display: flex;
  gap: 15px;
  list-style: none;
}
img {
  max-height: 20px;
}
